.Blog ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.Blog li {
    display: inline-block;
    padding: 20px;
}

.Blog a {
    text-decoration: none;
    color: black;
}

.Blog a:hover, .Blog a:active {
    color: #fa923f;
}